/* WHOLE MAP */

/* html body takes up whole screen */
html, body{
  height: 100%;
  width: 100%;
}

/* map occupies entire screen */
#map{
	height:100%;
	width:100%;
	bottom:0;
}
.legend {
  padding: 6px 8px;
  line-height: 18px;
  color: #555;
  background: white;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* browser adds margin by default, and that adds a scrollbar ... no good */
body {
  margin: 0;
  overflow:hidden;
  overflow-x:hidden;
}

#sidebar{
  position:absolute;
  width: 30%;
  height:100%;
  background-color: #FFFEF2;
  z-index: 999999;
}